@import 'font.css';
@import 'colors.css';
@import 'reset.css';


body{
    display: flex;
    font-family: 'Inter';
    background-color: var(--dashboard-secondary-color);
    overflow-x: hidden;
}
.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: var(--dashboard-primary-color);
    padding-top: 20px;
}
.sidebar > .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar > .container > h2{
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
    margin: 10px;
}
.sidebar > .container > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar > .container > ul > li{
    list-style: none;
    text-align: left;
    height: 7vh;
    width: 100%;
}
.sidebar >.container > ul > li:hover{
    background-color :#012b4d;
}
.sidebar > .container > ul >li > a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items:center
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container > .nav-container{
    margin-left:250px;
    padding: 20px;
    width: 100%;
    background-color: var(--secondary-color);
}
.container > .content-container{
    margin-left: 250px;
    padding: 20px;
}

.container > .content-container > button{
    background-color:#E5B528;
    border: none;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
}
.container > .content-container > button > a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody tr:last-child td {
    border-bottom: none;
}
