@import 'font.css';
@import 'colors.css';
@import 'reset.css';

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dashboard-secondary-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-container {
    padding: 20px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
    font-size: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    background-color: #A81168;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
}

.search-bar button i {
    font-size: 1rem;
}

.content-container {
    padding: 20px;
}

.card {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-content {
    padding: 20px;
    background-color: #f9f9f9;
    color: black;
}

.item-content h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #333;
}

.item-content h3:last-child {
    margin-bottom: 0;
    color: #A81168;
}

.item-content p {
    margin: 0 0 5px;
}
